name: "Bump Version Extension Staging"

on:
  workflow_dispatch:
    inputs:
      bump-type:
        description: "Version bump type (major, minor, patch)"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major
      publish:
        description: "Publish the extension to the Chrome Web Store"
        required: false
        default: "false"
        type: choice
        options:
          - true
          - false
jobs:
  release-extension:
    runs-on: ubuntu-latest
    environment:
      name: production
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: Fetch all tags
        run: git fetch --tags

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn install

      - name: Bump Version in manifest-stg.json
        run: node scripts/bumpManifestVersion.js ${{ github.event.inputs.bump-type }} staging

      - name: Build extension
        run: yarn build:stg

      - name: Zip staging extension
        run: zip -r extension-staging.zip dist

      - name: Upload & release
        if: ${{ github.event.inputs.publish == 'true' }}
        uses: mnao305/chrome-extension-upload@v5.0.0
        with:
          file-path: extension-staging.zip
          extension-id: kaolbiekdhlpjinfpgacadmkhiahkhne
          client-id: ${{ secrets.CLIENT_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
          refresh-token: ${{ secrets.REFRESH_TOKEN }}

      - name: Add Version Bump Changes
        run: git add public/manifest-stg.json

      - name: Add and Commit Version Bump
        uses: qoomon/actions--create-commit@v1.2.1
        id: commit-version-bump
        with:
          message: "chore: bump version in manifest-stg.json to ${{ github.event.inputs.bump-type }}"
          skip-empty: true

      - name: Push changes
        run: git push origin main

      - name: Store Current Tag
        run: |
          VERSION=$(node -pe "require('./public/manifest-stg.json').version")
          TAG="v${VERSION}-staging"
          echo "CURRENT_TAG=$TAG" >> $GITHUB_ENV

      - name: Create Git Tag
        uses: qoomon/actions--create-tag@v1
        with:
          name: ${{ env.CURRENT_TAG }}

      - name: Push changes
        run: git push origin ${{ env.CURRENT_TAG }}

      - name: Generate Changelog
        run: |
          npx auto-changelog --tag-pattern "v.*-staging" --template changelog/templates/changelog-staging-template.hbs --ignore-commit-pattern "chore: update changelog" --output changelog/CHANGELOG_STAGING.md --hide-credit --starting-version="v1.2.10-staging"

      - name: Add Changelog
        run: git add changelog/CHANGELOG_STAGING.md

      - name: Commit Changelog
        uses: qoomon/actions--create-commit@v1.2.1
        id: commit-changelog
        with:
          message: "chore: update changelog for ${{ env.CURRENT_TAG }}"
          skip-empty: true

      - name: Push Changes for Changelog
        run: git push origin main

      - name: Create GitHub Release
        run: |
          npx auto-changelog --tag-pattern "v.*-staging" --starting-version="vX.X.X-staging" --output current-release-notes.md --starting-version="${{ env.CURRENT_TAG }}" --ignore-commit-pattern "chore: update changelog" --hide-credit
          gh release create "${{ env.CURRENT_TAG }}" --title "Release ${{ env.CURRENT_TAG }}" --notes-file current-release-notes.md
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
