name: "Publish Webpack Chrome Extension Production"
on:
  workflow_dispatch:
    inputs:
      bump-type:
        description: "Version bump type (major, minor, patch)"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major
jobs:
  build-extension:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Allows GitHub Actions to push changes to the repo
      id-token: write
      actions: read
    environment:
      name: production
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn install
      - name: Determine version bump type
        id: bump_type
        run: echo "BUMP_TYPE=${{ github.event.inputs.bump-type }}" >> $GITHUB_ENV
      - name: Bump version in package.json
        run: |
          if [[ "${BUMP_TYPE}" == "major" ]]; then
            yarn version --major --no-git-tag-version
          elif [[ "${BUMP_TYPE}" == "minor" ]]; then
            yarn version --minor --no-git-tag-version
          else
            yarn version --patch --no-git-tag-version
          fi
        shell: bash
      - name: Update manifest version
        run: node scripts/update-manifest-version.js
      - name: Commit and push version update
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add package.json public/manifest.json
          git commit -m "chore: Bump version to $(cat package.json | jq -r '.version')"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build extension
        run: yarn build
      - name: Zip production extension
        run: zip -r extension-production.zip dist
      - name: Upload & release
        uses: mnao305/chrome-extension-upload@v5.0.0
        with:
          file-path: extension-production.zip
          extension-id: kaolbiekdhlpjinfpgacadmkhiahkhne
          client-id: ${{ secrets.CLIENT_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
          refresh-token: ${{ secrets.REFRESH_TOKEN }}
          publish: true
      - run: npm run release --ci ${{ inputs.bump_type }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
