name: "Publish Webpack Chrome Extension"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - staging/**

jobs:
  build-extension:
    runs-on: ubuntu-latest
    environment:
      name: production
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Build extension
        run: |
          yarn
          yarn build
      - name: Zip production extension
        run: zip -r extension-production.zip dist

      - name: Upload & release
        uses: mnao305/chrome-extension-upload@v5.0.0
        with:
          file-path: dist/file.zip
          extension-id: kaolbiekdhlpjinfpgacadmkhiahkhne
          client-id: ${{ secrets.CLIENT_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
          refresh-token: ${{ secrets.REFRESH_TOKEN }}
          publish: true
